
.jfx-text-field .text{
    -fx-font-size: 10px;
    -fx-text-fill: #ccc;
    -fx-fill: red !important;
    -fx-padding: 0px;
    -fx-margin:0px;
}

.green{
    -fx-background-color:  #2e8a39;
}
.lemon{
    -fx-background-color:  #96c63d;
}

.color-green{
    -fx-text-fill:  #2e8a39;
}
.color-lemon{
    -fx-text-fill:  #96c63d;
}
.colorinput{
    -jfx-focus-color: #96c63d;
    
}